html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $fuentePrincipal;
    font-size: $fontSize;
}

h2{
    font-weight: $extra;
}

h3{
    font-size: $fontSize;
    font-weight: $normal;
}

a{
    text-decoration: none;
    line-height: none;
}

label{
font-weight: $grueso;
}