/* Colores */

/*Primario */
$rojo: hsl(0, 100%, 74%);
$verde: hsl(154, 59%, 51%);

/*secundario*/
$azul: hsl(248, 32%, 49%);

/*neutrales*/
$azulOscuro: hsl(249, 10%, 26%) ;
$azulGris: hsl(246, 25%, 77%);

/*Typogradfia*/
$fontSize: 1.6rem;
$fuentePrincipal: 'Poppins', sans-serif;

$delgado: 400;
$normal: 500;
$grueso: 600;
$extra: 700;

/*dispositivos*/

$celular: 376px;
$escritorio: 1440px;
$tablet: 769px;

