body{
    background-image: url(./../../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-color: $rojo;
    background-size: cover;
    background-position: center center;

    @include tablet{
        background-image: url(./../../images/bg-intro-desktop.png);
    }
}