
.header__titulo, .header__descripcion{
    text-align: center;
    color: white;
    @include tablet{
        text-align: left;
    }
}

.header__titulo{
    font-size: 3rem;
    margin-top: 10rem;

    @include tablet {
        margin-top: 0;
        font-size: 4rem;
        margin: 0 10rem;
    }
}

.header__descripcion{
    line-height: 3rem;
    margin-left: 10rem;
    br{
    @include tablet{
        display: none;
    }
}
}

