.oferta__contenedor{
    margin: 0 2rem;
    background-color: $azul;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 7px 12px 5px rgba(0,0,0,0.63);
    @include tablet{
        width: 90%;
        margin-top: 2rem;
    }

    .oferta__descripcion{
        color: white;
        font-weight: $delgado;
        text-align: center;
        margin: 0 4rem;
    }

    .descripcion--span{
        font-weight: $extra;
    }
}